APScheduler==3.6.3
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptg==0.2.post4
cryptography==36.0.2
decorator==5.1.1
ffmpeg==1.4
hachoir==3.1.2
idna==3.3
importlib-resources==5.4.0
numpy
pandas==1.1.5
psycopg2==2.9.3
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.21
python-dateutil==2.8.2
python-telegram-bot==13.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
rsa==4.8
six==1.16.0
telegram-upload
Telethon==1.18.2
tornado==6.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
youtube-dl==2021.12.17
zipp==3.6.0
